@import "../variables.scss";

.Ticket__Summary {
    border-radius: $border-radius;
    background-color: #fff;
    padding: $spacing-md;
    margin-bottom: $spacing-lg;
    cursor: pointer;

    .Ticket__Title {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        text-transform: capitalize;

    }

    .Ticket__Description {
        font-size: $font-size-x-small;
        color: var(--color-text-label);
        font-weight: $font-weight-bold;

    }

    .Ticket__Due {
        margin: 0;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        color: var(--color-text-label);
    }
}

.Ticket__Detail {
    opacity: 1;
    will-change: auto;
    transform: none;
    transform-origin: 50% 72% 17px;
    position: absolute;
    background: rgba(0, 0, 0, 0.615);
    left: 0;
    top: 0;
    z-index: $z-index-modal;
    width: $width-full;
    height: $height-full;


    .Ticket__Details__Wrapper {
        background-color: #ffffff;
        width: 50%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: $spacing-lg;
        border-radius: $border-radius;
        box-shadow: 0 1px 25px var(--color-background), 0 1px 10px var(--color-background);
        overflow-y: auto;

        .Ticket__Header {
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding-bottom: $spacing-md;
            margin-bottom: $spacing-md;
            border-bottom: 1px solid $border-color;

            .Ticket__Title {
                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                text-transform: capitalize;
                color: var(--color-text-dark);
                letter-spacing: 1px;
            }

            svg {
                font-size: $font-size-medium;
                color: var(--color-text-dark);
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
            }
        }


        .Ticket__Description__Label,
        .Ticket__Description__Label,
        .Ticket__Assigned_Label,
        .Ticket__Priority__Label,
        .Ticket__Due__Label,
        .Ticket__Labels__Label {
            font-size: $font-size-x-small;
            color: var(--color-text-label);
            font-weight: $font-weight-normal;
            margin: 0 0 $spacing-xs 0;
        }

        .Ticket__Description,
        .Ticket__Description,
        .Ticket__Assigned,
        .Ticket__Priority,
        .Ticket__Due {
            font-size: $font-size-small;
            color: #000000;
            margin-bottom: $spacing-md;
            padding-bottom: $spacing-md;
            border-bottom: 1px solid $border-color;
            text-transform: capitalize;
        }

        .Ticket__Description {
            font-size: $font-size-medium;
            text-transform: unset;
        }

        .Ticket__Label {
            font-size: $font-size-x-small;
            width: auto;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.494);
            color: var(--color-text-light);
            padding: 2px $spacing-sm;
            display: inline-block;
            text-align: center;
            margin: 0 $spacing-xs 0 0;
            text-transform: capitalize;
        }

    }
}